#menu-Hamburger {
    width: 100%;
    background: #000;
    position: sticky;
    top: 0;
  }
  
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { 
    transition: all 2.5s ease;
    background: #af0d0d;
    cursor: pointer;
}
  #hamitem_6,#hamitem_7 { 
    background: black !important;
    border-bottom: 0px !important;
    cursor: default !important;
}
  
  #hamitem_10 {background: #af0d0d; }
  #hamitem_10:hover{
    transition: all 2.5s ease !important;
    background: blue  !important; 
    cursor: pointer !important;
  }



#menu-Hamburger label, #hamburger { display: none; }


@media screen and (max-width: 768px){

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

#hamitem_6,#hamitem_7 {display: none !important; } 
  
  #menu-Hamburger label {
    display: inline-block;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px ;
  }

  
  #hamitems { display: none; }
  #menu-Hamburger input:checked ~ #hamitems { 
    display: block; 
  }
}



