.btn-outline-CodeJobs {
    color: $bg_btn_color !important;
    border-color:  $bg_btn_color !important;
}

.btn-online-CodeJobs {
    color: $bg_interior !important;
    background-color: $bg_btn_color !important;
    border-color: $bg_btn_color !important;
    
}

.bg-online-CodeJobs {
    background-color: $bg_btn_color !important;
}