.btn-outline-CodeJobs {
    color: map-get($bg_color , bg_btn_color ) !important;
    border-color:  map-get($bg_color , bg_btn_color ) !important;
}

.btn-online-CodeJobs {
    color: map-get($bg_color , bg_interior ) !important;
    background-color: map-get($bg_color , bg_btn_color )  !important;
    border-color: map-get($bg_color , bg_btn_color )  !important;
    
}

.bg-online-CodeJobs {
    background-color: map-get($bg_color , bg_btn_color )  !important;
}