
*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    background-color: black;
    background-image: url("../images/Fondo_WebSite_CoderJobs.png");
}

.contenedor {
	width: 90%;
	max-width: 1200;
	margin: 20px auto ;
	display: grid;
	grid-gap: 5px;
    grid-template-areas:    "header header header header header"
                            "banner banner banner banner banner"
                            "carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap"
                            "contenido contenido contenido contenido sidebar"
                            "widget-1 widget-2 widget-3 widget-4 sidebar"
                            "footer footer footer footer footer";
    > div,
    .header,
    .contenido,
    .sidebar,
    .footer {
        background: #fff;
        padding: 5px;
        border-radius: 4px;
    }

    .header {
        background: black;
        color: #fff;
        grid-area: header;
    }
    .banner{
        background:#fff;
        grid-area: banner;
    }

    .carrosel_Bootsrap{
        background:#fff;
        grid-area: carrosel_Bootsrap;
    }

    .contenido{
        grid-area: contenido;
    }
    
    .sidebar {
        background:#fff;
        text-align: center;
        display: flex;
        align-items: top;
        justify-content: center;
        grid-area: sidebar;
        min-height: 100px;
    
    }

    .footer{
        background-color: black;
        grid-area: footer;
    }
}

@for $i from 1 through 4 {
    .contenedor .widget-#{$i} {
        grid-area: widget-#{$i};    
    }
}



.contenedor-2 {
	width: 100%;
	max-width: 1200;
	display: grid;
	grid-gap: 5px; 
    grid-template-areas:    "logo banner-1 banner-2 banner-3";

    .logo {
        grid-area: logo;
    
    }


}

@for $i from 1 through 3 {
    .contenedor-2 .banner-#{$i} {
        grid-area: banner-#{$i};    
        @if($i>1){
            background: black;
        }
    }
}




.contenedor-3 {
    width: 100%;
	display: grid;
	grid-gap: 5px; 
    justify-content: center;  
    grid-template-areas:    "video-1 video-2 video-3";
    text-align:center;

}


@for $i from 1 through 3 {
    .contenedor-3 .video-#{$i} {
        grid-area: video-#{$i};    
    }
}



.contenedor-4 {
    width: 100%;
	display: grid;
	grid-gap: 5px; 
    grid-template-areas:    "parrafo-A parrafo-A parrafo-A parrafo-D"
                            "parrafo-B parrafo-E parrafo-E parrafo-D"
                            "parrafo-C parrafo-C parrafo-C parrafo-C";
    > div,
    .parrafo-A,
    .parrafo-B,
    .parrafo-C,
    .parrafo-D,
    .parrafo-E  {
        border-radius: 4px;
    }     

    .parrafo-A {
        grid-area: parrafo-A;
        
    }
    .parrafo-B {
        grid-area: parrafo-B;
    }    
    .parrafo-C {
        grid-area: parrafo-C;
    }    
    .parrafo-D {
        grid-area: parrafo-D;
    }
    .parrafo-E {
        grid-area: parrafo-E;
    }
    .parrafo-A,
    .parrafo-B,
    .parrafo-C,
    .parrafo-D,
    .parrafo-E,
    p{
        animation-duration: 1s;
        animation-name: slidein;    
    }

}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 200%
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (max-width:1024px){
    .contenedor{
        grid-template-areas:    "header header header header header"
                                "banner banner banner banner banner"
                                "carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap carrosel_Bootsrap"
                                "contenido contenido contenido contenido sidebar"
                                "widget-1 widget-2 widget-3 widget-4 sidebar"
                                "footer footer footer footer footer"
    }
    .contenedor-4{
        grid-template-areas:    "parrafo-A parrafo-A parrafo-A parrafo-D"
                                "parrafo-B parrafo-B parrafo-B parrafo-D"
                                "parrafo-E parrafo-E parrafo-E parrafo-D"
                                "parrafo-C parrafo-C parrafo-C parrafo-C"

    }
    

}


@media screen and (max-width:768px){
    .contenedor{
        grid-template-areas:    "header header"
                                "banner banner"
                                "carrosel_Bootsrap carrosel_Bootsrap"
                                "contenido contenido"
                                "sidebar sidebar"
                                "widget-1 widget-2" 
                                "widget-3 widget-4"
                                "footer footer"
    }
    
    .contenedor-3 .video-1{display: none;} 
    .contenedor-3 .video-3{display: none;} 

    .contenedor-4{
        grid-template-areas:    "parrafo-A parrafo-A"
                                "parrafo-B parrafo-B"
                                "parrafo-E parrafo-E"
                                "parrafo-C parrafo-C"
                                "parrafo-D parrafo-D"

    }
    .banner-2{ display: none;}

    
    .featurette-heading {
    margin-top: 7rem;
    }
}


@media screen and (max-width:414px){
    body{
        background-color: black;
        background-image: none !important;
    }    
    .contenedor{
        grid-template-areas:    "header"
                                "carrosel_Bootsrap"
                                "contenido"
                                "sidebar"
                                "widget-1"
                                "widget-2"
                                "widget-3"
                                "widget-4"
                                "footer"
    }
    .contenedor .sidebar { display: none;}
    .banner { display: none;}  

    .contenedor-3 .video-1{display: none;} 
    .contenedor-3 .video-2{display: none;} 
    .contenedor-3 .video-3{display: none;} 

    .contenedor-4{
        grid-template-areas:    "parrafo-A"
                                "parrafo-B"
                                "parrafo-C"
                                "parrafo-D"
                                "parrafo-E"

    }

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
    
    .text-center-commingSoon img {
        width: 150px !important;
    }
    
    select { width: 20em }
    textarea { width: 20em }
}