Footer{
    div{
        background-color: $bg_interior;
        width: 100%;
    }

}


#Footer-div {
    text-align: right;
    color: $bg_interior;
    background-color: $bg_exterior;
    padding-right: 20px;
    font-size: 0.6rem;    
    height: 70px;
}