ul {
    list-style-type: none;
    padding:10px;
}

.div li{
    background-color: white;
    a {
        text-decoration: none;
        color:darkslategrey;   
    }
}

@for $i from 1 through 4 {
    .contenedor .widget-#{$i} {
        display: inline-block;

        @if $i < 4 {
            vertical-align: text-top;
            list-style-image: url(../images/Icon_UL.png);
            @if $i == 1{
                display: flex;
                align-items: top;
                justify-content: left;
            }
        }@else{
            display: flex;
            align-items: top;
            justify-content: center;
            text-align: center;
        }
    }
    @if $i== 4 {
        .contenedor .widget-#{$i} table {
            height: 90px;
        }
        .contenedor .widget-#{$i} a{
            text-decoration: none;
        }
    }

}



