.btn-outline-CodeJobs {
    color:  #a02620 !important;
    border-color:  #a02620 !important;
}

.btn-online-CodeJobs {
    color: #fff !important;
    background-color: #a02620 !important;
    border-color: #a02620 !important;
    
}

.bg-online-CodeJobs {
    background-color: #a02620 !important;
}